h1 {
  color: red;
  background-color: black;
  text-align: center;
}

p {
  color: white;
  background-color: rgba(0,0,0,0.8);
  font-size: 20px
}

ul{
  font-size: 20px;
  list-style: none;
  color: white;
  background-color: rgba(0,0,0,0.8);
}

body {
  background-image: url('15.jpg'); 
  background-attachment: fixed;
  background-size: cover;
}
img {
  border-radius: 50% ;
  border-color: red
}
